<div class="container mt-5">
   <div class="jumbotron text-center">
      <h1 class="display-4">🐱 Cat Tracker</h1>
      <p class="lead">Track and care for stray cats at your apartment complex</p>
      <hr class="my-4">
      <p>Currently tracking <strong><%= Cat.count %></strong> cats in the system</p>
      
      <div class="mt-4">
         <%= link_to "View All Cats", cats_path, class: "btn btn-primary btn-lg mr-3" %>
         <%= link_to "Add New Cat", new_cat_path, class: "btn btn-success btn-lg" %>
      </div>
   </div>

   <div class="row mt-5">
      <div class="col-md-6">
         <h3>Recently Spotted</h3>
         <ul class="list-group">
         <% Cat.order(last_seen: :desc).limit(3).each do |cat| %>
            <li class="list-group-item">
               <strong><%= cat.name %></strong> - 
               <%= cat.color %> <%= cat.pattern %>
               <br>
               <small>Last seen: <%= time_ago_in_words(cat.last_seen) %> ago at <%= cat.location %></small>
            </li>
         <% end %>
         </ul>
      </div>
      
      <div class="col-md-6">
         <h3>How It Works</h3>
         <div class="card">
         <div class="card-body">
            <h5 class="card-title">Community Cat Tracking</h5>
            <ol>
               <li>Add stray cats you spot around your complex</li>
               <li>Record when and where you saw them</li>
               <li>Share names and notes with neighbors</li>
               <li>Help coordinate feeding and care</li>
            </ol>
            <p class="text-muted">Perfect for apartment communities with friendly strays!</p>
         </div>
         </div>
      </div>
   </div>
</div>