<div id="<%= dom_id cat %>">
	<p>
		<%# <strong>Name:</strong> %>
		<h2><%= cat.name %></h2>
	</p>

	<p>
		<strong>Color:</strong>
		<%= cat.color %>
	</p>

	<p>
		<strong>Pattern:</strong>
		<%= cat.pattern %>
	</p>

	<p>
		<strong>Temperament:</strong>
		<%= cat.temperament %>
	</p>

	<p>
		<strong>Location:</strong>
		<%= cat.location %>
	</p>

	<p>
		<strong>Last seen:</strong>
		<%= cat.last_seen %>
	</p>

	<p>
		<strong>Notes:</strong>
		<%= cat.notes %>
	</p>

</div>
