<p style="color: green"><%= notice %></p>

<% content_for :title, "Cats" %>

<div class="container">
	<h1>Neighorhood Cats</h1>

	<div id="cats">
			<% @cats.each do |cat| %>
				<div class="cat_card">
					<%= render cat %>
					<p>
						<%= link_to "Show this cat", cat %>
					</p>
				</div>
			<% end %>
	</div>

	<%= link_to "New cat", new_cat_path %>
	<%= link_to "Back", root_path %>
</div>